
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   <h1>Elvis Presley</h1>
   <p> 
    (Tupelo, Estados Unidos, 1935 - Memphis, id., 1977) Cantante de rock and roll y actor estadounidense. Nacido en el seno de una familia modesta, el joven Elvis Presley se vio obligado a trabajar desde muy temprana edad. A los once años, y ante su insistencia, sus padres le regalaron su primera guitarra.
    En 1948, su familia se trasladó a Memphis, uno de los centros de la actividad musical del país. Cuando Elvis contaba apenas diecinueve años, el productor Sam Phillips, propietario de Sun Records, decidió editarle un single que contenía los temas That's all right y Blue Moon of Kentucky. Este primer intento le abrió las puertas de un programa radiofónico de música country, Louisiana Hayride, con un abanico de emisión que comprendía trece estados.

En 1955, con su popularidad en aumento, Elvis Presley fichó por la discográfica RCA. El de 1956 fue un año clave para la trayectoria de Elvis, gracias al tema Heartbreak Hotel, del cual vendió trescientos mil ejemplares en tres semanas y acabó siendo el primero de sus discos de oro. También editó su primer elepé, titulado Elvis Presley, que alcanzó el millón de copias vendidas, y se comprometió por siete años con los estudios cinematográficos Paramount, ávidos de contratar a un ídolo juvenil emergente que ya por aquel entonces provocaba ataques de histeria entre las asistentes a sus conciertos.

Sus apariciones televisivas empezaron a ser habituales, y las cantidades ingresadas por éstas alcanzaron cifras récord en la historia del medio. Paralelamente a su imparable ascenso a la fama mundial, algunos sectores conservadores de la sociedad estadounidense se opusieron con tesón tanto al personaje como a su música, que tildaban de pervertida e inmoral, en particular a raíz de su celebérrimo movimiento de cadera, cuyo impacto fue tan inmediato que el cantante recibió el apodo de Elvis Pelvis.

Como culminación del meteórico año de 1956, el 16 de noviembre se estrenó en Nueva York con gran éxito Love me tender, el primer film que protagonizó Elvis Presley, y el Wall Street Journal le dedicó un artículo en el que destacó los 22 millones de dólares que el merchandising asociado a su imagen llevaba recaudados hasta aquel momento.
En marzo de 1957 adquirió la mansión de Graceland, en la ciudad de Memphis, que se convertiría con el tiempo en lugar de peregrinaje para sus incontables admiradores. En 1958, en el cenit de su carrera, fue llamado a filas por el ejército y destinado a Berlín Occidental, donde conoció a Priscilla Ann Beaulieu, con quien contraería matrimonio nueve años después.

Elvis Presley se licenció en marzo de 1960 e inmediatamente reanudó su actividad artística, para encadenar una larga serie de números uno en las listas estadounidenses con títulos como It's now or never o Are you lonesome tonight? y protagonizar no menos de diez películas, entre las que cabe citar Chicas, chicas, chicas (Girls, girls, girls, 1962) y Viva Las Vegas (1964).

En la segunda mitad de la década comenzó la llamada «Invasión británica», protagonizada por grupos como The Beatles y los Rolling Stones; ello conllevó cierta erosión en la popularidad del cantante, agravada por una aparente crisis artística que se prolongó hasta 1968, cuando se le ofreció protagonizar un especial televisivo que se convirtió en uno de los mayores éxitos de la historia de la pequeña pantalla.
Los primeros años de la década de 1970, sin embargo, supusieron para Elvis Presley un nuevo bache creativo, agravado por su adicción a las drogas y la reclusión en su mundo de fantasía particular en que se convirtió su mansión de Graceland. En 1973 se divorció de Priscilla Beaulieu y su imagen adquirió el tono claramente excesivo que caracterizó sus últimas apariciones: exagerado tupé, sobrepeso y trajes de cuero blanco con pedrería.

Tras caer inconsciente en varias ocasiones en el escenario, falleció oficialmente de un ataque al corazón, sin duda consecuencia de sus excesos. A pesar de su acelerado declive, Elvis Presley se ha convertido en un icono del siglo XX y en una de las figuras más relevantes de la historia de la música popular, como atestiguan sus más de cien discos de oro, platino y multiplatino.
</p>

</body>
</html>